.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set the height to occupy the full viewport height */
    flex-direction: column;
  }

  .welcome-section h1 {
    font-family: "Helvetica", sans-serif;
    color: #3ca43c;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .center-content {
    text-align: center;
  }

  @media only screen and (max-width: 500px) {
    .welcome-section h1 {

      font-size: 25px;

    }
  }